{% extends 'base.html' %}
{% block content %}
    <div class="row">
        {% for note in notes %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ note.title }}</h5>
                        <p class="card-text">{{ note.content|truncatewords:20 }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'note' note.id %}" class="btn btn-info btn-sm">Ver Nota</a>
                        <a href="{% url 'delete_note' note.id %}" class="btn btn-danger btn-sm">Eliminar Nota</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
